body {
  background-color: purple
}

.main-logo {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.main-logo-img {
  width: 75%;
  height: auto;
}

.main-header {
  width: 75%;
  height: auto;
  align-content: center;
  justify-content: center;
}

.upload-link {
  color: black
}

.element {
  width: 51%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
}

.main-carousel {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.photo_gallery {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
